.containerDiv {
  display: flex;
  justify-content: center;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}
/* ----------- Project Div Seperator Beginning of 1 --------------*/
.project1 {
  padding: 10px;
  margin: 10px;
  border: solid black 2px;
  border-radius: 10px;
  width: 21vw;
  max-height: 215px;
}

.description1 {
  max-height: 4em;
  min-height: 4em;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.project1 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project1:hover{
  max-height: 100%;
  transition: all 1s ease-in-out;
}

.project1:hover p {
  overflow: hidden;
  white-space: normal;
}


.project1:hover .description1 {
  max-height: 100%;
  transition: all 1s ease-in-out;
}

/* ----------- Project Div Seperator Ending of 1 --------------*/
/* ----------- Project Div Seperator Beginning of 2 --------------*/
.project2 {
  padding: 10px;
  margin: 10px;
  border: solid black 2px;
  border-radius: 10px;
  width: 21vw;
  max-height: 215px;
}

.description2 {
  max-height: 4em;
  min-height: 4em;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.project2 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project2:hover{
  max-height: 100%;
  transition: all 1s ease-in-out;
}

.project2:hover p {
  overflow: hidden;
  white-space: normal;
}
.project2:hover .description2 {
  max-height: 100%;
  transition: all 1s ease-in-out;
}

/* ----------- Project Div Seperator Ending of 2 --------------*/
/* ----------- Project Div Seperator Beginning of 3 --------------*/
.project3 {
  padding: 10px;
  margin: 10px;
  border: solid black 2px;
  border-radius: 10px;
  width: 21vw;
  max-height: 215px;
}

.description3 {
  max-height: 4em;
  min-height: 4em;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.project3 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project3:hover{
  max-height: 100%;
  transition: all 1s ease-in-out;
}
.project3:hover p {
  overflow: hidden;
  white-space: normal;
}

.project3:hover .description3 {
  max-height: 100%;
  transition: all 1s ease-in-out;
}

/* ----------- Project Div Seperator Ending of 3 --------------*/
/* ----------- Project Div Seperator Beginning of 4 --------------*/
.project4 {
  padding: 10px;
  margin: 10px;
  border: solid black 2px;
  border-radius: 10px;
  width: 21vw;
  max-height: 215px;
}

.description4 {
  max-height: 4em;
  min-height: 4em;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.project4:hover{
  max-height: 100%;
  transition: all 1s ease-in-out;
}

.project4 p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project4:hover p {
  overflow: hidden;
  white-space: normal;
}

.project4:hover .description4 {
  max-height: 100%;
  transition: all 1s ease-in-out;
}

/* ----------- Project Div Seperator Ending of 4 --------------*/
