$xsm-min-device: 320px;
$sm-min-device: 576px;
$m-min-device: 768px;
$lg-min-device: 992px;
$xlg-min-device: 1200px;

$xsm-max-device: 319px;
$sm-max-device: 575px;
$m-max-device: 767px;
$lg-max-device: 991px;
$xlg-max-device: 1199px;