.tic-tac-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  max-width: 80vh;
  margin: auto;
  div {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px black solid;
    padding: 10px;
    h3{
      font-size: 2.5vw;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.mem-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  max-width: 75vh;
  div {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px black solid;
    padding: 10px;
  }
}
