@use "./themify" as *;
@use "./themes" as *;
@use "./nav.scss" as *;
@use "./project.scss" as *;

.navDiv{
  @include themify($themes){
    background-color: themed('nav-color');
  }
  .link{
    @include themify($themes){
      color: themed('nav-text-color');
    }
  }
}

.outletDiv{
  @include themify($themes){
    background-color: themed('main-color');
    color: themed('text-color');

    hr{
      border: themed('hr-border');
    }
  }
}

.footerDiv{
  @include themify($themes){
    background-color: themed('nav-color');
  }
  .link{
    @include themify($themes){
      color: themed('nav-text-color');
    }
  }
}

.projectDiv{
  @include themify($themes){
    background-color: themed('project-bg');
  }
}



select{
  font-weight: 600;
  font-size: larger;
  right:20px;
  position: absolute;
  @include themify($themes){
    background-color: themed('nav-color');
    color: themed('nav-text-color')
  }
}

.external{
  width: 15px;
  height: 15px;
  line{
    @include themify($themes){
      stroke: themed('nav-text-color')
    }
  }
}

