@use "./media" as *;

$page-max-width: 1700px;
$footer-height: 4rem;
  
.link{
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}
.navDiv{
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  @media screen and (max-width: $xsm-min-device) {
    flex-direction: row;
    flex-wrap: wrap;
    }
  @media screen and (max-width: $sm-min-device) {
    flex-direction: row;
    flex-wrap: wrap;
    }
}

.footerDiv{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: $page-max-width;
  width: 90vw;
  position: absolute;
  bottom: 0;
  height: $footer-height;
}

.outletDiv{
  padding: 0px 10px 10px 10px;
  height: 90%;
  margin-top: 20px;
  margin-bottom: calc($footer-height + 10px);
  position: relative;
}
.main{
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: $page-max-width;
  margin: auto;
  min-height: 100vh;
  position: relative;
}