@use "./media" as *;

$page-max-width: 1700px;
$footer-height: 4rem;
  

.navDiv{
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  align-items: center;
  @media screen and (max-width: $m-min-device) {
    flex-direction: row;
    flex-wrap: wrap;
    }
  .link{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
  }
  select{
    font-weight: 600;
    font-size: larger;
    right:20px;
    position: absolute;
    @media screen and (max-width: $lg-min-device) {
      position: relative;
      right: auto;
      }
    }
}

.footerDiv{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: $page-max-width;
  width: 90vw;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  align-items: center;
  .link{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
  }
  @media screen and (max-width: $m-min-device) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 6rem;
    }
  select{
    font-weight: 600;
    font-size: larger;
    right:20px;
    position: absolute;
    @media screen and (max-width: $lg-min-device) {
      position: relative;
      right: auto;
      }
    }
}

.outletDiv{
  padding: 0px 10px 10px 10px;
  height: 90%;
  margin-top: 20px;
  margin-bottom: calc($footer-height + 10px);
  position: relative;
  @media screen and (max-width: $xsm-min-device) {
    margin-bottom: calc(6rem + 10px);
    }
}

.main{
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: $page-max-width;
  margin: auto;
  min-height: 100vh;
  position: relative;
  
}
